<h1>TraderDashboard#index</h1>
<p>Find me in app/views/trader_dashboard/index.html.erb</p>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>


<% @stocks.each do |stock| %>

<%= button_to stock.name + ' - ' + 'price:'+stock.price.to_s %>

<% end %>

<%= button_to "go back", edit_user_registration_path, method: :get%>
<%= button_to "Edit Info", edit_user_registration_path, method: :get%>