<h1>Home#index</h1>

<h1>Trader</h1>
<%= button_to "Log In", trader_dashboard_index_path, method: :get%>
<%= button_to "Register", new_user_registration_path, method: :get%>

<h1>Admin</h1>
<%= button_to "Log In", admin_dashboard_index_path, method: :get%>
<%= button_to "Register", new_admin_registration_path, method: :get%>
